@charset "UTF-8";
/*Tipografias:
font-family: 'Amiri Quran', serif;
font-family: 'Jost', sans-serif;
font-family: 'Mandali', sans-serif;
font-family: 'MonteCarlo', cursive;
font-family: 'Tajawal', sans-serif; */
html {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
}

/*Lista de tamaños de tipografías*/
/*Mapas*/
/*Colores de la página*/
/*Titulo de Cada Página: Tienda, Cuidados, Quienes Somos, Contacto*/
.title-header {
  color: rgb(22, 21, 21);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  text-align: center;
  font-family: "Tajawal", sans-serif;
  font-size: 30px;
  margin: 30px;
  font-size: 60px; /*60px*/
}

#body-tienda .grid-container-tienda section {
  height: 50vh;
  border: solid 3px black;
  display: flex;
  border-radius: 7px;
}

/*Fondo*/
#body-contacto, #body-quienes-somos, #body-cuidados, #body-tienda {
  background: rgb(215, 206, 197);
  background: -moz-linear-gradient(0deg, rgb(215, 206, 197) 77%, rgb(14, 14, 13) 96%);
  background: -webkit-linear-gradient(0deg, rgb(215, 206, 197) 77%, rgb(14, 14, 13) 96%);
  background: linear-gradient(0deg, rgb(215, 206, 197) 77%, rgb(14, 14, 13) 96%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d7cec5",endColorstr="#0e0e0d",GradientType=1);
  background-attachment: fixed;
}

/*Body Index, Background*/
#index-body {
  background: url("../img/wallpaper.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100vw;
  /*Grid Index*/
}
#index-body #index-main-container {
  margin: 3%;
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas: "index-main-title" "index-paragraph" "ir_tienda";
  gap: 25px;
}
#index-body section {
  margin: 1%;
}

/*áreas Grid*/
.index-main-title {
  grid-area: index-main-title;
  justify-self: center;
  align-self: center;
}
.index-main-title h1 {
  font-size: 3em;
}

.index-paragraph {
  grid-area: index-paragraph;
  width: 80%;
  justify-self: center;
  color: black;
  font-size: 1.2em;
  font-family: "Mandali", sans-serif;
  text-shadow: 0.5px 0.5px 0.5px black;
  border-radius: 15px;
}
@media (max-width: 576px) {
  .index-paragraph {
    width: 90%;
    justify-content: center;
  }
}
.index-paragraph p {
  text-align: center;
  font-size: 1.2em;
}

.ir_tienda {
  grid-area: ir_tienda;
  justify-self: end;
}
@media (max-width: 576px) {
  .ir_tienda {
    width: 90%;
    justify-content: center;
  }
}
.ir_tienda a {
  text-decoration: none;
  color: black;
  text-shadow: 2px 1px 1px #a35f1b;
  font-size: 1.5em;
}

/* BOTON Robado */
button {
  margin: 20px;
}

.custom-btn {
  width: 160px;
  height: 40px;
  text-align: center;
  border-radius: 5px;
  padding: 15px 25px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
}

.btn-8 {
  background-color: transparent;
  line-height: 42px;
  padding: 0;
  border: none;
}

.btn-8 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.btn-8:before,
.btn-8:after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  background: #7a0427;
  transition: all 0.3s ease;
}

.btn-8:before {
  height: 0%;
  width: 4px;
}

.btn-8:after {
  width: 0%;
  height: 3px;
}

.btn-8:hover:before {
  height: 100%;
}

.btn-8:hover:after {
  width: 100%;
}

.btn-8:hover {
  background: transparent;
}

.btn-8 span:hover {
  color: #07010c;
}

.btn-8 span:before,
.btn-8 span:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background: #7a0427;
  transition: all 0.3s ease;
}

.btn-8 span:before {
  width: 4px;
  height: 0%;
}

.btn-8 span:after {
  height: 4px;
  width: 0%;
}

.btn-8 span:hover:before {
  height: 100%;
}

.btn-8 span:hover:after {
  width: 100%;
}

/*Footer index*/
/*Nav Bar bootstrap*/
.navbar-propiedades-mio {
  margin-top: 10px;
  background-color: rgba(175, 77, 60, 0.55);
}

.font-barra {
  font-family: "Jost", sans-serif;
  font-size: 25px; /*20px*/
  text-shadow: 0.5px 0px black;
  padding-left: 30px !important;
  padding-right: 30px !important;
  color: white !important;
}

/*General*/
p::selection {
  background-color: #c09e90;
}

#body-tienda .grid-container-tienda {
  width: 100%;
  margin: 50px auto;
  padding: 5%;
  font-family: "Mandali", sans-serif;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: auto;
  grid-template-areas: " caja-principal-1 caja-principal-3" "caja-principal-2 caja-principal-4";
  gap: 10px;
  justify-items: center;
  align-items: stretch;
  justify-content: space-evenly;
}
#body-tienda .grid-container-tienda section div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#body-tienda .grid-container-tienda section div h3 {
  text-align: center;
  font-family: "Ysabeau Infant";
}
#body-tienda .grid-container-tienda section div p {
  padding: 10px;
  text-align: center;
}
#body-tienda .grid-container-tienda section div p a {
  color: rgb(0, 0, 0);
}
#body-tienda .grid-container-tienda section img {
  object-fit: cover;
}
@media (min-width: 250px) and (max-width: 1150px) {
  #body-tienda .grid-container-tienda {
    grid-template-columns: 1fr;
    grid-template-areas: "caja-principal-1" "caja-principal-2" "caja-principal-3" "caja-principal-4";
  }
  #body-tienda .grid-container-tienda section {
    flex-flow: column wrap;
    height: auto;
    gap: 20px;
  }
}

/*Grid Areas*/
.caja-principal-1 {
  grid-area: caja-principal-1;
}

.caja-principal-2 {
  grid-area: caja-principal-2;
}

.caja-principal-3 {
  grid-area: caja-principal-3;
}

.caja-principal-4 {
  grid-area: caja-principal-4;
}

/*Titulo de Cada Página: Tienda, Cuidados, Quienes Somos, Contacto*/
.title-header {
  color: black;
  text-align: center;
  font-family: "Tajawal", sans-serif;
  font-size: 4em;
  margin: 50px;
}

.title-header {
  animation-name: animacion-titulo;
  animation-duration: 1.2s;
  animation-fill-mode: forwards; /* Para que se mantenga el estado final de la animación */
  animation-timing-function: ease-out;
}

@keyframes animacion-titulo {
  from {
    transform: translateY(-100%);
    color: #7c0321;
  }
  to {
    color: rgb(8, 8, 8);
  }
}
.grid-container-cuidados {
  margin: 5%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "cuidados01  cuidados03" "cuidados02  cuidados03";
  gap: 20px;
  justify-content: center;
}
.grid-container-cuidados section {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 20px;
  border: 1px solid black;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
}
.grid-container-cuidados div {
  align-self: center;
  width: 100%;
}
.grid-container-cuidados img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}
.grid-container-cuidados h4 {
  padding: 10px;
  font-family: "Ysabeau Infant", serif;
  align-self: center;
  text-align: center;
}
.grid-container-cuidados p {
  align-self: center;
  text-align: justify;
  font-family: "Mandali", sans-serif;
  padding-right: 15px;
  padding-left: 15px;
}

/*Grid Areas*/
.cuidados01 {
  grid-area: cuidados01;
}

.cuidados02 {
  grid-area: cuidados02;
}

.cuidados03 {
  grid-area: cuidados03;
  display: flex;
  flex-direction: column;
}
.cuidados03 img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  object-position: center;
}
.cuidados03 p {
  gap: 20px;
  padding: 15px;
}

span {
  font-weight: bold;
  font: 17px;
}

@media (max-width: 576px) {
  .grid-container-cuidados {
    margin: 15px;
    grid-template-columns: 100%;
    grid-template-areas: "cuidados01" "cuidados02" "cuidados03";
    gap: 2px;
  }
}
img {
  max-width: 100%;
  height: auto;
}

#body-quienes-somos .quienes-somos-main {
  padding: 10px;
  margin: 5%;
  display: grid;
  grid-template-rows: 1fr 1fr 0.2fr;
  grid-template-areas: "container-fluid" "parrafo" "gracias";
  align-items: center;
  gap: 2em;
}
@media (max-width: 576px) {
  #body-quienes-somos .quienes-somos-main p {
    padding: 1%;
  }
}

.container-fluid {
  grid-area: container-fluid;
}

.parrafo {
  grid-area: parrafo;
  font-size: 1.2em;
  padding: 20px;
  margin: 4%;
  font-family: "Tajawal", sans-serif;
  height: 100%;
}

.gracias {
  grid-area: gracias;
  text-align: center;
  font-family: "Jost", sans-serif;
  font-weight: bold;
  font-size: 25px;
  color: rgba(175, 77, 60, 0.55);
  text-shadow: rgb(71, 67, 67) 1px 1px 1px;
}

.img-carrousel {
  object-fit: cover;
}

.borde {
  border-radius: 15px;
}

#footer {
  margin: 5px;
  padding: 20px;
  border-top: solid #573D33 4px;
  border-bottom: solid #573D33 4px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  font-size: 1.3em;
}
#footer li {
  list-style-type: none;
  font-size: 1.8em;
  color: black;
  padding: 10px;
}
#footer a {
  font-family: "MonteCarlo", cursive;
  font-size: 30px;
  text-decoration: none;
  padding: 10px;
  color: black;
}
@media screen and (max-width: 576px) {
  #footer #footer {
    flex-flow: column;
  }
  #footer div:nth-child(3n) {
    display: none;
  }
  #footer div:nth-child(3n) {
    align-items: center;
  }
  #footer h5 {
    display: none;
  }
}

.end {
  display: flex;
  justify-content: center;
  font-family: "MonteCarlo", cursive;
  color: rgba(175, 77, 60, 0.55);
  font-size: 40px;
  font-weight: bolder;
}

/*Boton ENVIAR*/
/*Fuente BS*/
.modifica-font {
  font-family: "Tajawal", sans-serif;
  font-weight: bold;
}

/*Color de fondo BS */
.color-boton {
  background-color: rgba(175, 77, 60, 0.55);
  border: #573D33 solid 1.5px;
  text-shadow: none;
}

/*Hover BS*/
.animacion-boton a:hover {
  background-color: transparent !important;
  font-weight: bold;
}

#contacto-main iframe {
  width: 40%;
}

.mapa-contacto {
  margin: 20px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
.mapa-contacto h3 {
  margin: 15px;
}

/*# sourceMappingURL=style.css.map */
