.grid-container-footer{
    display: grid;
    padding: 20px;
    margin: 1%;
    border-top: solid 3px rgba(175, 77, 60, 0.55);
    color: white;
    font-family: 'Mandali', sans-serif;
    font-size: 15px;
    grid-template-columns: repeat(5, 1fr) ;
    grid-template-rows: 2fr, 2fr, 0.20;
    grid-template-areas: 
    "cont-grid maps-grid segu-grid  segu-grid     what-grid "
    "cba-grid  maps-grid  .  redes-grid  icon-wha-grid"
    "end-grid end-grid end-grid end-grid end-grid";
   justify-content: center;
    align-content: center;


    
        //  @media (max-width:576px) {
            
        //     grid-template-columns:1fr ;
          
        //     grid-template-areas:
        //     "cont-grid "
        //     "cba-grid  "  
        //     "maps-grid  "
        //     "segu-grid  "
        //     "what-grid  "
        //     "redes-grid "
        //     "icon-wha-grid "
        //     "end-grid "; 
        // }
            // img{
            //     height: 50px;
            //     width: 50px;
            // }
            
            
            
            
            
            
            // display: flex;
            // flex-flow: column wrap;
            // justify-content: space-around;
            // align-content:end;

            // img{
            //     height: 50px;
            //     width: 50px !important;
            // }
        }
            


.end-grid{
    grid-area: end-grid;
    padding: 20px;
    
    border-top:solid 3px rgba(175, 77, 60, 0.55) ;
        h4{
            text-align: center;
            font-family: 'MonteCarlo', cursive;
        }
    
}
.cont-grid{
    grid-area: cont-grid;
    
}

.cba-grid{
    grid-area: cba-grid;
}

.maps-grid{
    grid-area: maps-grid;
    align-items: start;
    
    padding: 20px;
    
}

.segu-grid{
    grid-area:segu-grid;
}

.redes-grid{
    grid-area: redes-grid; 
    
}

.what-grid{
    grid-area:what-grid;
    align-items: end;

}

.icon-wha-grid{
    grid-area: icon-wha-grid;

}



@media (max-width: 576px) {
    .grid-container-footer {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      grid-template-areas: 
        "cont-grid"
        "maps-grid"
        "segu-grid"
        "what-grid"
        "cba-grid"
        "."
        "redes-grid"
        "icon-wha-grid"
        "end-grid";
        justify-content: center;
    }
  }