%propiedades-flex{
    display: flex;
    flex-flow: row wrap;
};

/*Titulo de Cada Página: Tienda, Cuidados, Quienes Somos, Contacto*/
%title-header{
    color: rgb(22, 21, 21);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
    font-family: 'Tajawal', sans-serif;
    font-size: 30px;
    margin: 30px;
    font-size: nth($size, 4 ); /*60px*/

};
    

// /*Extend Cajas de tienda*/
%grid-tienda{
    height: 50vh;
    border: solid 3px black;
    display: flex;
    border-radius: 7px;
     
 };


/*Fondo*/
%background{
    background: rgb(215,206,197);
background: -moz-linear-gradient(0deg, rgba(215,206,197,1) 77%, rgba(14,14,13,1) 96%);
background: -webkit-linear-gradient(0deg, rgba(215,206,197,1) 77%, rgba(14,14,13,1) 96%);
background: linear-gradient(0deg, rgba(215,206,197,1) 77%, rgba(14,14,13,1) 96%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d7cec5",endColorstr="#0e0e0d",GradientType=1);
background-attachment: fixed;
}